In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
#import excel file
data_fin = pd.read_excel(r'D:\Financing project\data.xlsx')

In [39]:
data_fin.head()

   Amount        Date      Category
0   600.0  2024-12-12  accomodation
1    40.0  2024-11-12          food
2    50.0  2024-02-01         other
3   150.0  2024-02-12          loan
4  5000.0  2024-12-30        income

PREPAIR = Reorganize by delete null cells and duplicates

In [40]:
#check null
data_fin.isnull().sum()

Amount      7
Date        7
Category    7
dtype: int64

In [41]:
#delete but not create a new dataframe
data_fin.dropna(inplace=True)

In [42]:
#check output
data_fin.isnull().sum()

Amount      0
Date        0
Category    0
dtype: int64

In [43]:
#duplicate
data_fin = data_fin.drop_duplicates()

CREATE A NEW COLUMN: create column which show the month of each cell for future calculation

In [44]:
# Converting the 'Date' column to datetime
data_fin['Date'] = pd.to_datetime(data_fin['Date'])

In [45]:
# Initialize an empty list for storing month names
months = []

for date in data_fin['Date']:
    # Append the month name to the list
    months.append(date.strftime('%B'))

# Add the new 'Month' column to the DataFrame
data_fin['Month'] = months

In [46]:
#check ouput
data_fin.head()

   Amount       Date      Category     Month
0   600.0 2024-12-12  accomodation  December
1    40.0 2024-11-12          food  November
2    50.0 2024-02-01         other  February
3   150.0 2024-02-12          loan  February
4  5000.0 2024-12-30        income  December

EXPORT FILE

In [47]:
from openpyxl import load_workbook

In [48]:
data_fin['Date'] = pd.to_datetime(data_fin['Date'])

try:
    # Append the data to an existing file
    with pd.ExcelWriter(r'D:\Financing project/data_final.xlsx', engine='openpyxl', mode='a', if_sheet_exists='overlay') as writer:
        # Write the DataFrame to a new sheet
        data_fin.to_excel(writer, sheet_name='Input', index=False)
        print("Data appended successfully!")
except FileNotFoundError:
    # If the file doesn't exist, create a new one
    data_fin.to_excel(r'D:\Financing project\data.xlsx/data_final.xlsx', index=False)
    print("File not found. A new file has been created!")

Data appended successfully!